

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #333; 
    overflow: hidden; 
  }
  
  
  .navbar a {
    float: right; 
    display: block; 
    color: white; 
    text-align: center; 
    padding: 18px 16px; 
    text-decoration: none; 
  }
  
  
  .navbar a:hover {
    background-color: #09ff00; 
    color: black; 
    transition: 0.8s;
  }
  .logo {
    float: left; 
    padding: 10px; 
    color: white; 
    font-size: 15px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
h1 {
  margin: 0;
}

.contact-info {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

.contact-info h2 {
  color: #333;
}

.contact-info p {
  font-size: 18px;
  margin: 10px 0;
}

.contact-info p:last-child {
  margin-bottom: 0;
}
footer {
background-color: #000000;
color: #fff;
text-align: center;
padding: 1rem 0;
}
img{
  width: 300px;
 
}